<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Image Gallery</title>
  </head>
  <body>
    <h1 class="m-8 font-blod">Uploaded Images</h1>
    {% for item in images %}
    <div class="menu-item m-4">
      <img src="{{ item.image_path }}" alt="{{ item.nameFood }}" width="150" />
      <p>{{ item.nameFood }} - ฿{{ item.price }}</p>
      <p>Type: {{ item.type }}</p>
      <p>Options {{item.option}}</p>

      <br />
      <!-- ปุ่มแก้ไข -->
      <a href="{{ url_for('edit_menu', menu_id=item.id) }}">
        <button>Edit</button>
      </a>

      <!-- ปุ่มลบ -->
      <form
        action="{{ url_for('delete_menu', menu_id=item.id) }}"
        method="POST"
        onsubmit="return confirm('Are you sure?');"
      >
        <button type="submit">Delete</button>
      </form>
    </div>
    {% endfor %}
  </body>
</html>
