body {
    background-color: #f5f5f5;
    height: 100vh;
}
body form{
    padding-top: 40px;
}

.table-title {
    display: flex;  
    gap: 5px;
    padding-top: 40px;
    background-color: #2D8E2D; 
    color: white; 
    padding: 3px; 
    text-align: left; 
    font-size: 22px; 
    font-weight: bold; 
    position: fixed; 
    left: 0;
    width: 100%; 
    z-index: 10; 
}

.table-title i {
    margin-left: 10px;
    color: #f5f5f5;
  }

.image-upload-container {
    width: 500px;
    height: 600px;
    background-color: #E88810;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.image-upload-container:hover {
    background-color:  #fb8c03;
    box-shadow: 0px 0px 10px rgba(217, 83, 79, 0.8);
    transform: scale(0.95);
  }

.image-upload-container:active {
    background-color: #fb8c03;
    transform: scale(0.95);
  }
#imagePreview {
    display: none; /* รูปภาพจะซ่อนเมื่อไม่ได้เลือก */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }


.pc-name{
    font-size: 22px;
    color: #f5f5f5;
}

.menu-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.right-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 200px;
    margin-bottom: 10px;
}


.right-form input {
    padding: 10px;
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.btn {
    margin-top: 40px;
    width: 100%;         
    padding: 10px;        
    font-size: 18px;        
    border-radius: 10px;
    background: #E88810; 
    color: white;
}

.btn:hover {
    background-color:  #fb8c03;
    box-shadow: 0px 0px 10px rgba(217, 83, 79, 0.8);
    transform: scale(1.05);
  }

.btn:active {
    background-color: #fb8c03;
    transform: scale(0.95);
  }

.logout-button {
    background-color: transparent; 
    color: #f5f5f5; 
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border: none; 
    text-decoration: none;
    position: absolute;
    right: 30px;
  
 }

.form-btn{
    height: 40px;
    width: auto;

}

.form-check-label {
    display: inline-block;
    margin-left: -100px; 
    
  
  }


  @media (max-width: 767px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        margin: auto;
        padding-top: 300px; 
    }

    .table-title {
        position: fixed; /* ทำให้ติดอยู่ด้านบน */
        top: 0;
        left: 0;
        width: 100%;
        background-color: #2D8E2D;
        color: white;
        padding: 10px;
        text-align: left;
        font-size: 22px;
        font-weight: bold;
        z-index: 1000; /* ทำให้เลเยอร์สูงขึ้น */
    }
    .table-title i {
        margin-left: 10px;
        color: #f5f5f5;
      }

      .logout-button {
        background-color: transparent; 
        color: #f5f5f5; 
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        border: none; 
        text-decoration: none;
        position: absolute;
        right: 30px;
      
      }
    


    .menu-container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: auto;
        min-height: 100vh;
        /* margin: auto; */
    
    }

    .right-form {
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .image-upload-container {
        height: 250px;
        width: 100%;
        margin-left: 0;
    }

 

    .btn {
        width: auto;
    }
}
@media (width: 768px) {
    .image-upload-container {
        height: 500px;
        width: 300px;
        margin-left: 40px;
    }
    .right-form {
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .btn {
        width: auto;
    }

}

@media (width: 320px) {
    .form-check{
        font-size: 12px;
    }

}

@media (width: 1024px) {
    .image-upload-container {
        height: 600px;
        width: 400px;
        margin-left: 40px;
    }
    .right-form {
        margin-left: 50px;
        margin-bottom: 20px;
    }
    .btn {
        width: auto;
    }

}
