body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding-top: 40px;
  }

.container {
  background-color: #2D8E2D;
  height: 150px;
  border-radius: 20px;
  text-align: center;
  width: 150px; 
  /* margin: 20px; */
  justify-content: center;


}
.container-or:hover {
  background-color: #fe8d04;
  /* box-shadow: 0px 0px 10px rgba(217, 83, 79, 0.8); */
  transform: scale(1.05);
}

.container-or:active {
  background-color: #fe8d04;
  transform: scale(0.95);
}

.container-or {
  background-color: #E88810;
  height: 150px;
  border-radius: 20px;
  text-align: center;
  width: 150px; 
  /* margin: 20px; */
  justify-content: center;


}

.table-title {
  display: flex;  
  align-items: center; 
  gap: 5px;
  background-color: #2D8E2D; 
  color: white; 
  padding: 3px; 
  text-align: left; 
  font-size: 22px; 
  font-weight: bold; 
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
  z-index: 10; 
}



.layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 115px;
  justify-content: left;
  margin-top: 30px; 
  row-gap: 30px;

}

.side-panel {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  margin-left: 40px;


}


.table {
  background-color: #388e3c;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}


h1 {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #f5f5f5;
  margin:60px ;
  }

.table-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 325px;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 30px;
  background-color:#63a5eb;

}

.table-bill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 325px;
  border-radius: 20px;
  margin-left: 30px;
  margin-top: 30px;
  background-color:#eaf605;
  

}
h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #f5f5f5;
  justify-content: center;


}
.table-title i {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  align-items: center;
}

h4 {
  font-weight: bold;
  text-align: right; 
  color: #f5f5f5;
  position: absolute; 
  right: 30px;
  top: 5px;

}

/* billll */

.bill-container {
  background-color: #f5f5f5;
  min-height: 600px; 
  max-height: 90vh; 
  overflow-y: auto; 
  text-align: center;
  width: 500px; 
  margin: auto;
  border: 2px solid #000;
  margin-left: 100px;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}

h5 {

  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #393838;
  margin-TOP:30px ;
  }

hr{
  border: 1px solid #000; 
  margin: 10px ;
  text-align: center;
}

h6{
  font-weight: bold;
  text-align: left;
  color: #393838;
  margin-top: 1px;
  margin-left: 10px;
}

.flex-colo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 0;
}

.bill-items {
  text-align: left;
  font-size: 14px;
}



.bill-item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 5px 0;
}



.bill-summary {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  margin-top: auto; 
}

.bill-total {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
}

.pay-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 300px;
}

.pay-button:hover {
  background-color: #45a049;
}

.bill-header {
  /* display: flex;
  flex-direction: column;
  align-items: flex-end;  */
  margin-right: 10px;
  font-weight: bold;
  text-align: left;
  color: #393838;
  margin-top: -10px;

}

.table-time{
  font-weight: bold;
  text-align: left;
  color: #393838;
  margin-left: 10px;
  font-size: 16px;
  margin-top: -10px;


}



.item-name {
  flex: 2;
  text-align: left;
}

.item-quantity,
.item-price,
.item-total {
  flex: 1; 
  text-align: right;
}


.bill-total {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

.bill-line {
  border: 1px solid #000; 
  margin: 10px ;
  text-align: center;
  /* margin-top: 150px; */
}


.item-sum{
  margin-left: 10px;
  margin-top: 150px;
  font-size: 18px;

}
.item-sumP{
  margin-left: 10px;
  margin-top: 150px;
  font-size: 18px;
  text-align: right;
  margin-right: 20px;
}



.logout-button {
  background-color: transparent; 
  color: #f5f5f5; 
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
  border: none; 
  text-decoration: none;
  position: absolute;
  right: 30px;
  top: 3px;
  transition: font-size 0.2s ease-in-out;
}






