body {
    background-color: #f5f5f5;
    height: 100vh;
    overflow-x: hidden; 
    font-family: 'Prompt', sans-serif;
}



.container-left {
    background-color: #D9D9D9;
    height: 100vh; 
    width: 280px;
    position: fixed; 
    left: 0;
    top: 0;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


.container-left a {
    display: block;
    margin-bottom: 10px;
  }

/* .container-main {
    background-color: #f5f5f5;
    min-height: 100vh;
    width: 100%; 
    margin-left: 280px;
    padding: 60px 20px 20px; 
    overflow-y: auto; 
} */
.container-main{
    display: none;
    background-color: #f5f5f5;
    max-height: 100vh;
    text-align: center;
    width: 100%; 
    justify-content: right;
    border-radius: 20px;
    margin-top: 40px;
    border-top-left-radius: 50px;

}

.container-main:active{
    display: block;

}

.text {
    font-weight: bold;
    text-align: center;
    color: #393838;
    font-size: 14px; 
    margin: 0; 
    padding: 0;
}

.text:hover {
    background-color: #fe8d04;
    border-radius: 10px;
    color: #f5f5f5;
    transform: scale(1.05);
}

.text-main {
    font-weight: bold;
    text-align: left;
    color: #E88810;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 18px;

}
.container-food{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;
    height: 220px;
    background-color: #f5f5f5;
    border-radius: 10px;
    text-align: center;
    width: 150px; 
    margin-left: 20px;
    border: 2px solid #D9D9D9;
    box-shadow: #D9D9D9;
    padding: 5px; 
}

.container-food-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;
    height: 220px;
    background-color: #E88810;
    border-radius: 10px;
    text-align: center;
    width: 150px; 
    margin-left: 20px;
    border: 2px solid #D9D9D9;
    box-shadow: #D9D9D9;
    padding: 5px;  
}



.container:hover{
    color: #f38a0a;
    transform: scale(0.95);
}

.img {
    width: 125px;
    height: 125px; 
    object-fit: cover; 
    border-radius: 10px;
    margin-bottom: 5px; 
}

.layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 5px;
    justify-content: left;
    margin-top: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.tab-link {
    padding: 10px;
    color: black;
    text-decoration: none;
    display: block;
}

.tab-link.active {
    background-color: #E88810; 
    border-radius: 10px;
    color: white; 
    font-weight: bold;
}



p {
    font-weight: bold;
    color: #343433;
    font-size: 14px;
    top: 0;
   
}

.text-p{
    font-weight: bold;
    color: #343433;
    font-size: 10px;
    top: 0;
}



.add-newtext{
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    color: #f5f5f5;
}

.edit {
    position: absolute;
    bottom: -15px; 
    right: -15px;   
    font-size: 30px ;
    color: #1d4ed8;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.edit:hover {
    color: #104bef;
    transform: scale(1.20);
}


.delete {
    position: absolute;
    color:  #E88810;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    font-size: 30px ;
    top: -15px;
    right: -15px;
}

.delete:hover {
    color: #d32f2f;
    transform: scale(1.20);
}

@media (max-width: 426px) {
    .container-left {
        z-index: 2;
        background-color: #D9D9D9;
        height: 80px; 
        text-align: center;
        width: 100%; 
        justify-content: flex-start; 
        margin-top: 0; 
        display: flex;
        flex-direction: row; 
        align-items: center; 
        padding: 10px; 
        box-sizing: border-box; 
        position: fixed;  
        top: 0;
        left: 0;
    }

    .container-left a {
        display: block;
        text-align: center;
        margin-top: 50px;
        margin-right: 20px; 
        color: black;
    }

    .container-main {
        display: none;
        background-color: #f5f5f5;
        max-height: 100vh;
        text-align: center;
        width: 100%; 
        margin-top: 80px; 
    }

    .container-main:active {
        display: block;
    }
    .layout {
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: wrap;
    }
}





@media (min-width: 426px)  and (max-width: 768px) {
    .container-left {
        z-index: 2;
        background-color: #D9D9D9;
        height: 80px; 
        text-align: center;
        width: 100%; 
        justify-content: flex-start; 
        margin-top: 0; 
        display: flex;
        flex-direction: row; 
        align-items: center; 
        padding: 10px; 
        box-sizing: border-box; 
        position: fixed;  
        top: 0;
        left: 0;
    }

    .container-left a {
        display: block;
        text-align: center;
        margin-top: 50px;
        margin-right: 20px; 
        color: black;
    }

    .container-main {
        display: none;
        background-color: #f5f5f5;
        max-height: 100vh;
        text-align: center;
        width: 100%; 
        margin-top: 80px; 
    }

    .container-main:active {
        display: block;
    }
    .layout {
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
    }


}

@media (min-width: 768px) and (max-width: 1024px) {
    .layout {
        grid-template-columns: repeat(4, 1fr);
        flex-wrap: wrap;

    }

    .container-left {
        background-color: #D9D9D9;
        height: 100vh; 
        width: 220px;
        position: fixed; 
        left: 0;
        top: 0;
        padding: 10px ;
        overflow-y: auto; 
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .container-main {
        background-color: #f5f5f5;
        min-height: 100vh;
        width: 100%; 
        margin-left: 220px;
        overflow-y: auto; 
    }



}

@media (min-width: 1024px) {
    .layout {
        grid-template-columns: repeat(6, 1fr);
        flex-wrap: wrap;

    }


    .container-left {
        background-color: #D9D9D9;
        height: 100vh; 
        width: 220px;
        position: fixed; 
        left: 0;
        top: 0;
        padding: 60px 20px 20px;
        overflow-y: auto; 
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .container-main {
        background-color: #f5f5f5;
        min-height: 100vh;
        width: 100%; 
        margin-left: 220px;
        overflow-y: auto; 
    }



}
