.container {
    background-color: #2D8E2D;
    border-radius: 20px;
  

}

.padding{
    padding-top: 30px;
}


.table-title {
    display: flex;  
    gap: 5px;
    background-color: #2D8E2D; 
    color: white; 
    padding: 3px; 
    text-align: left; 
    font-size: 22px; 
    font-weight: bold; 
    position: fixed; 
    left: 0;
    width: 100%; 
    z-index: 10; 
}

.table-title i {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    align-items: center;
  }





.logout-button {
    background-color: transparent; 
    color: #f5f5f5; 
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    border: none; 
    text-decoration: none;
    position: absolute;
    right: 100px;
    top: 0.5px;
}

  
.logout-button-s {
    background-color: transparent; 
    color: #f5f5f5; 
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    border: none; 
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0.5px;
}