body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #532015;
    overflow: hidden;


}

.container-fluid {
    display: flex;               
    justify-content: center;    
    align-items: center;     
    height: 100vh;              

}

.img-fluid {
    display: flex;               
    justify-content: center;    
    align-items: center;     
    width: 100%;                 
    height: auto;             
    object-fit: cover;    
    padding-top: 40px;  
    padding-left: 50px;  
}



.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto ;   
    min-width: 300px;    
    min-height: 600px;
    max-width: 450px;
    max-height: 400px;
    /* width: 100%;
    height: auto;            */
    text-align: center;
    background: #f9faf9;
    border-radius: 50px;  

}
.form-box-sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto ;   
    min-width: 300px;    
    min-height: 600px;
    max-width: 450px ;
    max-height: 400px ;
    width: 100%;
    height: auto;        
    text-align: center;
    background: #f9faf9;
    border-radius: 50px; 

}


h1 {
    font-size: 24px; 
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.form-b {
    font-size: 20px;
    width: 100%;
    border-radius: 50%;
}
.input-box {
    min-width: 100%; 
    border-radius: 30%;
    font-size: 1.5vw;
}

.head{
    font-size: 24px;
    font-weight: bold;
    /* margin-bottom: 10px; */
    color: #E67E22;
    /* margin: 1%; */
}



h2 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

/* กล่องใส่ข้อมูล */
input {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 18px;
}

/* ปุ่ม Login */
.btn {
    width: 60%;         
    padding: 10px;        
    font-size: 18px;        
    border-radius: 50px;
    background: #E88810; 
    color: white;
}
.btn:hover {
    background-color:  #fb8c03;
    box-shadow: 0px 0px 10px rgba(217, 83, 79, 0.8);
    transform: scale(1.05);
  }

.btn:active {
    background-color: #fb8c03;
    transform: scale(0.95);
  }

/* ลิงก์ Sign up */
p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10%;
}

p a {
    color: #E67E22;
    text-decoration: none;
    font-weight: bold;
}

.btn-profile {
    width: 50%;
    padding: 5%;
    background: #E88810; 
    color: white;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.input-box select {
    width: 60%; 
    padding: 10px;
    margin: 10px auto; 
    border-radius: 25px; 
    border: 1px solid #ccc;
    outline: none;
    text-align: center; 
    display: block; 
    font-size: 18px;
}


.input-box label {
    display: inline-flex;
    align-items: center; 
    gap: 5px; 
    font-size: 18px;
    white-space: nowrap; 
}


@media (max-width: 767px) {
    #profile-img {
      display: none;
    }
  }

