body {
    background-color: #f5f5f5;
    padding-top: 20px;
}

.table-title {
    display: flex;  
    align-items: center; 
    gap: 5px;
    background-color: #2D8E2D; 
    color: white; 
    padding: 3px; 
    text-align: left; 
    font-size: 22px; 
    font-weight: bold; 
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 10; 
}

.container-left{
    background-color: #D9D9D9;
    max-height: 100vh;
    height: 1000px;
    text-align: center;
    width: 250px; 
    justify-content: left;
    margin-top: 10px;

}

.container-main{
    background-color: #f5f5f5;
    max-height: 100vh;
    height: 1000px;
    text-align: center;
    width: 1500px; 
    justify-content: right;
    border-radius: 20px;
    margin-top: 40px;


}

.text {
    font-weight: bold;
    text-align: center;
    color: #393838;
    margin-top: 15px;
    font-size: 24px;
    background-color: transparent; 
}

.text:hover {
    background-color: #fe8d04;
    transform: scale(1.05);
}

.text-main {
    font-weight: bold;
    text-align: left;
    color: #E88810;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 18px;

}
.container-food {
    height: 250px;
    background-color: #f5f5f5;
    border-radius: 20px;
    text-align: center;
    width: 150px; 
    margin-left: 20px;
    border: 2px solid #D9D9D9;
    box-shadow: #D9D9D9;
}
.img{
    height: 100px;
    border-radius: 30px;
    text-align: center;
    width: 150px; 
    justify-items: center;
    margin-top: 10px;

}

.layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 10px;
    justify-content: left;
    margin-top: 30px; 
    row-gap: 30px;
  
  }



.logout-button {
    background-color: transparent; 
    color: #f5f5f5; 
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    border: none; 
    text-decoration: none;
    position: absolute;
    right: 30px;
    top: 3px;
    transition: font-size 0.2s ease-in-out;
}



