body {
    background-color: #f5f5f5;
    padding-top: 40px;
    font-family: 'Prompt', sans-serif;
}

.table-title {
    display: flex;  
    align-items: center; 
    gap: 5px;
    background-color: #2D8E2D; 
    color: white; 
    text-align: left; 
    font-size: 22px; 
    font-weight: bold; 
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 10; 
}

.logout-button {
    background-color: transparent; 
    color: #f5f5f5; 
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    position: absolute;
    right: 30px;
    top: -2=3px;
  
}