<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"/>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/cashier.css') }}"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Clickable Box</title>
  </head>

  <body>
    <div class="table-title">
      <a href="/admin/lobby"><i class="bx bx-chevrons-left bx-md"></i> </a>
      <h2>TABLE</h2>
      <a href="/admin/login" class="logout-button">Logout</a>
    </div>

    <div class="side-panel">
      <div id="takeAway" class="table-home"><h3>take home</h3></div>
      <div id="check" class="table-bill"><h3>check bill</h3></div>
    </div>

    <div class="flex flex-row items-center justify-start " id="content-container">
      <div class="layout" id="table-container">
        {% for i in table %} 
          {% if i.status == "Available" %}
            <div id="id{{ i.id }}" class="container"><h1>T{{ i.id }}</h1></div>
          {% elif i.status == "Taken" %}
            <div id="id{{ i.id }}" class="container-or"><h1>T{{ i.id }}</h1></div>
          {% endif %}
        {% endfor %}
      </div>
      <br/>
      <div id="bill"></div>
    </div>
    
   

    <script>
      let table_id = 0;
      $(document).ready(function () {
        for (let i = 1; i < 10; i++) {
          $("#id" + i).on("click", function () {
            table_id = i;
            $.getJSON("/admin/all_data/" + i, function (data) {
              bill(data);
            });
          });
        }
      });

      function bill(data) {
        let sumPrice = 0;
        let orderSummary = {};

        data["order_list"].forEach((item) => {
          let menu_item = data["menu"].find((menu) => menu.id === item.menu_id);
          if (menu_item) {
            if (!orderSummary[menu_item.nameFood]) {
              orderSummary[menu_item.nameFood] = {
                name: menu_item.nameFood,
                quantity: 0,
                price: menu_item.price,
                totalPrice: 0,
              };
            }

            orderSummary[menu_item.nameFood].quantity += item.quantity;
            orderSummary[menu_item.nameFood].totalPrice +=
              item.quantity * menu_item.price;
            sumPrice += item.quantity * menu_item.price;
          }
        });

        let check_bill = `<div class="bill-container justify-content-left align-items-center" id="bill-container">`;
        check_bill += `<h5>KHOW BAN CHAN</h5>`;
        check_bill += `<hr>`;
        check_bill += `<div class="flex-colo"><div class="table-time">TABLE :</div><div class="bill-header">T${table_id}</div></div>`;
        check_bill += `<div class="flex-colo"><div class="table-time">TIME :</div><div class="bill-header">${new Date().toLocaleString()}</div></div>`;
        check_bill += `<hr>`;
        check_bill += `<div class="flex-colo">
                          <div class="item-name"><h6>รายการ</h6></div>
                          <div class="item-quantity"><h6>จำนวน</h6></div>
                          <div class="item-price"><h6>ราคา</h6></div>
                          <div class="item-total"><h6>ราคารวม</h6></div>
                        </div>`;

        Object.values(orderSummary).forEach((item) => {
          check_bill += `<div class="flex-colo">
                          <div class="item-name"><h6>${item.name}</h6></div>
                          <div class="item-quantity"><h6>${item.quantity}</h6></div>
                          <div class="item-price"><h6>${item.price}</h6></div>
                          <div class="item-total"><h6>${item.totalPrice}</h6></div>
                        </div>`;
        });

        check_bill += `<div class="bill-summary">
                        <div class="item-sum"><h6 class="total-text">รวม</h6></div>
                        <div class="item-sumP"><h6 class="total-price">${sumPrice} บาท</h6></div>
                      </div>`;

        check_bill += `<div class="bill-line"></div>`;
        check_bill += `<div class="bill-total">THANK YOU</div>`;

        check_bill += `</div>`;

        check_bill += `<button id="hereEYE" class="pay-button">จ่ายแล้ว</button>`;

        $("#bill").html(check_bill);
      }

      $(document).on("click", "#hereEYE", function () {
        if (table_id == 0) {
          table_id = null;
        }
        $.ajax({
          url: "/admin/cashier",
          method: "POST",
          data: JSON.stringify({ table_id: table_id }),
          contentType: "application/json", // บอกว่าเป็น JSON
          success: function (response) {
            console.log("Response:", response);
            alert("ชำระเงินแล้ว");
            location.reload();
          },
          error: function (xhr, status, error) {
            console.log("Error:", error);
          },
        });
      });

      $("#takeAway").click(function () {
        window.location.href = "/takeAway";
      });
      $("#check").click(function () {
        $.getJSON("/admin/all_data", function (data) {
          bill(data);
        });
      });

      function updateTableStatus() {
        $.getJSON("/admin/table_status", function (data) {
          for (let tableId in data) {
            let tableElement = $("#id" + tableId);
            if (data[tableId] === "Taken") {
              tableElement.removeClass("container").addClass("container-or");
            } else {
              tableElement.removeClass("container-or").addClass("container");
            }
          }
        });
      }

  $(document).ready(function () {
    setInterval(updateTableStatus, 3000);


        $(".layout").on("click", "[id^=id]", function () {
          let tableElement = $(this);
          let table_id = tableElement.attr("id").replace("id", "");

          if (tableElement.hasClass("container")) {
            alert("โต๊ะว่าง ไม่สามารถดูบิลได้");
            $("#bill").hide();
            return;
          }

      $.getJSON("/admin/all_data/" + table_id, function (data) {
        if (data.order_list.length > 0) { 
          $("#bill").show(); 
          bill(data);
        } else {
          $("#bill").hide(); 
        }
      });
    });
  });
    </script>
  </body>
</html>
