<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Admin Navigation</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/lobby.css') }}"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-white flex flex-col items-center min-h-screen">
    <!-- Navbar -->
    {% with messages = get_flashed_messages(with_categories=True) %} {% if
    messages %}
    <ul>
      {% for category, message in messages %}
      <li><strong>{{ category }}</strong>: {{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <div class="table-title">
      <a href="/admin/lobby"><i class="bx bx-chevrons-left bx-md"></i> </a>
      <h3>LOBBY</h3>
      <a href="/admin/login" class="logout-button">LOGOUT</a>
      <a href="/admin/signup" class="logout-button-s">SIGNUP</a>
    </div>

    <!-- Button Grid -->
    <div class="padding grid grid-cols-4 gap-10 mt-12">
      <button
        class="container w-60 h-60 bg-green-700 text-white font-bold rounded-xl"
        id="cook"
        type="button"
      >
        KITCHEN
      </button>
      <button
        class="container w-60 h-60 bg-green-700 text-white font-bold rounded-xl"
        id="server"
        type="button"
      >
        
        WAITE
      </button>
      
      <button
        class="container w-60 h-60 bg-green-700 text-white font-bold rounded-xl"
        id="cashier"
        type="button"
      >
      
        CASHIER
      </button>
      <button
        class="container w-60 h-60 bg-green-700 text-white font-bold rounded-xl"
        id="menu"
        type="button"
      >
        ALL MENU
      </button>
      <button
        class="container w-60 h-60 bg-red-500 text-white font-bold rounded-xl"
        id="tracking"
        type="button"
      >
        TRACKING <br>
        ORDER
      </button>
      <button
        class="container w-60 h-60 bg-blue-700 text-white font-bold rounded-xl"
        id="save"
        type="button"
      >
        SAVE DAY
      </button>
      <button
        class="container w-40 h-40 bg-blue-700 text-white font-bold rounded-xl"
        id="restore"
        type="button"
      >
        RESTORE DAY
      </button>
      
    </div>

    <script>
      $(document).ready(function () {
        $("#cashier").click(function () {
          window.location.href = "/admin/cashier";
        });

        $("#server").click(function () {
          window.location.href = "/admin/serve";
        });

        $("#cook").click(function () {
          window.location.href = "/admin/kitchen";
        });

        $("#menu").click(function () {
          window.location.href = "/images";
        });

        $("#end").click(function () {
          alert(end);
        });
        $("#tracking").click(function () {
          window.location.href = "/admin/tracking"
        });
        $("#save").click(function () {
          if (confirm("คุณต้องการบันทึกข้อมูลหรือไม่?")) {
            save_data();
            alert("บันทึกข้อมูลเรียบร้อย!");
            window.location.href = "/record";
          } else {
            alert("ยกเลิกการบันทึก!");
          }
        });
        $("#restore").click(function () {
          if (confirm("จะกู้คืนรายการจริงมั้ย?")) {
            restore_data();
            alert("แต้!");
          } else {
            alert("บ่!");
          }
        });
      });
      function save_data() {
        $.ajax({
          url: "/record", // เปลี่ยน URL ตามเซิร์ฟเวอร์ของคุณ
          type: "POST",
          success: function (response) {
            alert("Data saved successfully!");
          },
          error: function (error) {
            alert("Error saving data!");
          },
        });
      }
      function restore_data() {
        $.ajax({
          url: "/restore", // เปลี่ยน URL ตามเซิร์ฟเวอร์ของคุณ
          type: "POST",
          success: function (response) {
            alert("Data saved successfully!");
          },
          error: function (error) {
            alert("Error saving data!");
          },
        });
      }
    </script>
  </body>
</html>
