<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/cashier.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <title>Serve</title>
  </head>
  <body>
    
    <!-- Header -->
    <div class="table-title">
      <a href="/admin/lobby"><i class="bx bx-chevrons-left bx-md"></i> </a>
      <h2>SERVE</h2>
      <a href="/admin/login" class="logout-button">LOGOUT</a>
    </div>

    <div class="orders-container">
      {% for key, data in grouped_orders.items() %}
      <div class="order-card {% if loop.index > 3 %}hidden{% endif %} {% if data.orders|length > 4 %} col-span-2 {% endif %}">
        <p class="text-orange-500 font-bold text-lg">
          TABLE: {{ data.table_id if data.table_id is not none else 'Takeaway' }}
        </p>
    
        <div class="order-details">
          {% for i in data.orders %}
          <div class="border-b pb-2 mt-2">
            <p class="font-bold text-2xl">
              {{ menu[i.menu_id-1]["nameFood"] }}
            </p>
            <p>Quantity: {{ i.quantity }}</p>
            <p>Option: {{ i.option }}</p>
            <p>Note: {{ i.note }}</p>
          </div>
          {% endfor %}
        </div>
    
        <button
          data-order-id="{{ key }}"
          class="send-order bg-orange-500 text-white px-4 py-2 rounded-lg text-sm mt-3 w-full"
        >
          Send Order
        </button>
      </div>
      {% endfor %}
    </div>
    
  
    
    

    <script>
      function updateTableStatus() {
        $.getJSON("/admin/table_status", function (data) {
          for (let tableId in data) {
            let tableElement = $("#id" + tableId);
            if (data[tableId] === "Taken") {
              location.reload(); // รีเฟรชหน้าเว็บ
            }
          }
        });
      }
      $(document).ready(function () {
        setInterval(updateTableStatus, 5000);
      });
      
     $(document).ready(function () {
        $(".send-order").click(function () {
          var orderId = $(this).data("order-id");
          console.log(orderId);
          $.post({
            url: "/admin/serve",
            data: JSON.stringify({
              id: orderId,
            }),
            contentType: "application/json",
            success: function (response) {
              console.log("✅ Order sent successfully:", response);
              location.reload(); // รีเฟรชหน้าเว็บ
            },
            error: function (xhr, status, error) {
              console.error("❌ Error sending order:", error);
            },
          });
        });

        // ฟังก์ชันสำหรับแสดง Toast notification
        function showToast() {
          $("#toast").removeClass("hidden").addClass("show");
          setTimeout(function () {
            $("#toast").removeClass("show").addClass("hidden");
          }, 3000); // Toast จะหายไปหลังจาก 3 วินาที
        }
      });

    </script>
  </body>
</html>
